
@media(max-width: 4000px){

.container{
	max-width:3700px;
	}
}

@media(max-width: 3000px){

	.container{
	max-width:2700px;
	}
}

@media(max-width: 2000px){

	.container{
	max-width:1700px;
	}
}

@media(max-width: 1440px ){

.container{
	max-width:1190px;
	}
}

@media(max-width: 1024px){

.card{
	max-width: calc(100%);
	}

.top__row{
	width:50%;
	}

.card__desc{
	font-size: 25px;
	line-height: 32px;
	}

.section{
	padding-top: 20px
	}

.switch{
	padding-bottom: 20px
	}

.card__all{
	font-size: 13px;
	}

.card__name{
	font-size: 12px;
	}
}

@media(max-width: 767px){

.btn{
	width: 40px;
	height: 40px;
	}

.btn:before, .btn::after{
	width: 1px;
	height: 15px;
	}

.card{
	max-width: calc(100%);
	}

.content__column{
	gap: 12px;
	}

.card{
	flex-basis: 100%;
	}

.section__body{
	display: flex;
	flex-direction: column;
	gap: 12px;
	}
}

@media(max-width: 510px){

.popup{
	transform: translate(-100%,-30%);	
	}
}

@media(max-width: 320px){

.section__meta{
	margin: 5px;
	}

.card{
	padding: 10px;
	}

.card__desc{
	margin-bottom: 15px;
	font-size: 17px;
	}

.card{
	max-width: calc(100%);
	min-width: 100px;
	}

.card__all{
	font-size: 11px;
	}

.card__name{
	font-size: 11px;
	}

.top__excerpt{
	font-size: 14px;
	}

.top__text{
	font-size: 11px;
	}
}


