
.switch {
	display: flex;
	align-items: center;
	padding: 0 0 62px 12px;
}
 
.switch__checkbox {
	display: none;
}

.switch__label {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	border-radius: 15px;
	cursor: pointer;
	margin: 0 30px 0 30px;
	background: #a0a0a0;
	border: 1px solid #a0a0a0;
	transform: matrix(+1, 0, 0, 1, 0, 0);
}
 
.switch__label:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
	transition: all 0.3s ease;
}
 
.switch__checkbox:checked + .switch__label:before {
	transform: translateX(16px);
}

.switch__checkbox:checked + .switch__label {
	background-color: #ED5267;
	border: 1px solid #ED5267;
}

.switch__text {
	font-size: 16px;
	line-height: 19px;
	color: #3E4056;
}

.content__column {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.card {
	background: #FFFFFF;
	border-radius: 8px;
	padding: 24px  24px 24px 24px;
	flex-basis: 50%;
	max-width: calc(50% - 12px);
	min-width: 320px;
	box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.06);
}

.card__desc {
	font-family: 'Montserrat';
	font-size: 36px;
	line-height: 44px;
	color: #3E4056;
	margin-bottom: 44px;
}

.card__desc_top{
	margin-top: 31px;
}

.card__socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__user{
	display: flex;
	align-items: center;
	gap: 8px;
}

.card__name {
	color: #3E4056;
	letter-spacing: 0.3px;
}

.card__all {
	font-size: 18px;
	line-height: 25px;
	color: #F05D63;
}

.top {
	display: flex;
	gap: 4px;
	margin-bottom: 8px;
}

.top__excerpt {
	white-space: nowrap;
	font-size: 16px;
	line-height: 19px;
	color: #3E4056;
	letter-spacing: 0.3px;
}

.top__row {
	background: #ECF1F8;
	border-radius: 6px;
}

.top__text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
	line-height: 16px;
	color: #3E4056;
	padding: 3px 5px 5px 4px;
	max-width: 249px;
	letter-spacing: 0.4px;
}

.bottom{
	display: flex;
	gap: 16px;
}

.bottom__pic{
	display: flex;
}

.bottom__icon{
	margin-right: 8px;
}

.bottom__copy{
	color: #3E4056;
}


